<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="fastgh3_exe_location" value="C:\Program Files (x86)\FastGH3\FastGH3.exe"/>
		<add key="charts_folder" value=""/>
		<add key="ui_theme" value="0"/>
		<add key="auto_scan" value="true"/>
	</appSettings>
</configuration>